<div class="x-container">
    <app-most-popular-categories></app-most-popular-categories>
</div>

<ng-container *ngFor="let list of booksLists">
    <app-carousel [title]="list.title" [items]="list.items" [background]="list.background" [theme]="list.theme"  [itemTemplate]="itemTemplate"></app-carousel>

</ng-container>
<ng-container *ngIf="booksLists.length === 0">
    <ng-container *ngFor="let list of loadingBooks">
        <app-carousel [title]="list.title" [items]="list.items" [background]="list.background"  [theme]="list.theme" [itemTemplate]="loadingSkeleton"> </app-carousel>
    </ng-container>
</ng-container>


<ng-template #itemTemplate let-data>
    <!-- I will add anchor link when I create book page -->
    <img class="u-none" [src]="data.item.imageSource" width="200" height="306" loading="lazy" [alt]="data.item.title" />
    <div class="title {{data.theme}}">{{ data.item.title }}</div>
    <div class="reviewed-by {{data.theme}}">{{ data.item.reviewedBy }}</div>
  </ng-template>

<ng-template #loadingSkeleton >
        <div class="loading-container">
            <app-loading-skeleton [width]="'200px'" [height]="'300px'"></app-loading-skeleton>
            <div class="title f-row">
                    <app-loading-skeleton [width]="'80px'" [height]="'32px'"></app-loading-skeleton>
                    <app-loading-skeleton [width]="'80px'" [height]="'32px'"></app-loading-skeleton>
            </div>
            <div class="description">
                <div class="f-row">
                    <app-loading-skeleton [width]="'60px'" [height]="'32px'"></app-loading-skeleton>
                    <app-loading-skeleton [width]="'100px'" [height]="'32px'"></app-loading-skeleton>
                </div>
                <app-loading-skeleton [width]="'60px'" [height]="'32px'"></app-loading-skeleton>
            </div>
        </div>

  </ng-template>

