<div class="x-container">
    <app-most-popular-categories></app-most-popular-categories>
</div>
<app-carousel [title]="'Fiction'" [items]="items" [itemTemplate]="itemTemplate"></app-carousel>
<app-carousel [title]="'Fiction--'" [items]="items1" [itemTemplate]="itemTemplate"></app-carousel>
<app-carousel [title]="'Fiction++'" [items]="items2" [itemTemplate]="itemTemplate"></app-carousel>
<app-carousel [title]="'Fictionasd'" [items]="items3" [itemTemplate]="itemTemplate"></app-carousel>

<ng-template #itemTemplate let-item>
    <!-- I will add anchor link when I create book page -->
    <img [src]="item.imageSrc" width="200" height="306" loading="lazy" [alt]="item.title" />
    <div class="title">{{ item.title }}</div>
    <div class="reviewed-by">{{ item.reviewedBy }}</div>
  </ng-template>