@import "../../styles/responsive.scss";

.card-image{
    user-select: none;
    width: 170px;
    height: 280px;
    @include responsive('xsm'){
    width: 200px;
    height: 300px;
    }

    // @include responsive("md") {
    //     width: 170px;
    //     height: 280px;
    //   }
  
    //   @include responsive("xmd") {
    //     width: 200px;
    //     height: 300px;
    //   }
}


.title{
&.light{
        color: #020202;
    }
    &.dark{
        color: #FBFBFB;
    }
}
.reviewed-by{
    &.light{
        color: #7C7C7C;
    }
    &.dark{
        color: #81AB1B;
    }
    
}

.loading-container{

    .title{
        margin: 1rem 0;
        :first-child{
             margin-right:1rem;
        }
    }
    .description :first-child{
            margin: 0 1rem 1rem 0;
    }
}