@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.header {
  background-color: #82b808;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1000;
  .arrow{
    font-size: 12px;
  }
  .btn-resting{
    width: max-content;
    height: 16px;
  }

   h1 {
      color: white;
      margin: 0;
      font-size: 1rem;
      font-weight: 800;
      span {
        font-weight: 200;
      }
    }


  .icon {
    @include filter(invert(100%));
    &.menu-icon {
      margin-right: 0.75rem;
    }
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.35s;
    z-index: -1;
    .logo {
      background-color: #82b808;
      padding: 0.5rem 1rem;
      color: white;
      margin: 0;
      font-size: 1rem;
      font-weight: 800;
      height: 48px;
      box-sizing: border-box;
 
      span {
        font-weight: 200;
        display: inline-block;
        height: 23px;
        line-height: 1.6;
      }
    }
    .content {
      position: absolute;
      top: 0;
      left: -100vw;
      background-color: white;
      z-index: 10;
      width: calc(100% - 3rem);
      max-width: 350px;
      height: 100%;
      transition: all 0.35s;
      box-sizing: border-box;
      ul li {          a {
            display: inline-block;
            box-sizing: border-box;
            padding: 1rem;
            background-color: white;
            text-decoration: none;
            color: black;
            font-size: 1rem;
          }
          &.selected a {
            background-color: rgb(231, 231, 231);
          }
      }
    }

    &.menu-opened {
      z-index: 1;
      background-color: rgba($color: #000000, $alpha: 0.4);
      .content {
        left: 0;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      a {
        display: inline-block;
        box-sizing: border-box;
        padding: 0.5rem;
        text-decoration: none;
        color: white;
        font-size: 1rem;
      }
      &.selected a{
        color: $black;
      }
    }
  }
  .pages{
    display: none;
  }

  &.opened {
    .pages-container .icon.search {
      display: none;
    }
    &::after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1px);
    }
  }


   @include mobileFirst('sm'){
    .menu,.icon.menu-icon {
       display: none;
     }
     .pages{
       display: unset;
       margin-right: 1rem;
     }
 
   }

   @include mobileFirst('lg'){
    height: 60px;
    h1{
      font-size: 2rem;
    }
   }

  @keyframes opacity-to-1 {
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
}
