<header class="header x-container f-row">
  <div class="main-view w-100p f-row a-center j-between">
    <div class="menu-container f-row a-center">
      <button class="btn-resting c-pointer"  (click)="toggleMenuState($event)" aria-label="Toggle Menu">
        <img class="icon menu-icon"
        src="assets/images/menu.svg"
        width="16"
        height="16"
        alt="menu"
        />
      </button>
      <a routerLink="/">
        <h1>Books<span>Reviews</span></h1>
      </a>
    </div>
    <div class="pages-container f-row a-center j-end">
      <nav class="pages">
        <ul class="f-row">
          <li *ngFor="let route of menuRouts; let index = index" [class.selected]="selectedRouteIndex === index">
            <a
              class="w-100p"
              [routerLink]="route.path"
              >{{ route.label }} <span *ngIf="selectedRouteIndex === index" class="arrow">▼</span></a
            >
            
          </li>
        </ul>
      </nav>
      <button class="btn-resting c-pointer"  (click)="toggleSearchState($event)" aria-label="Toggle Search">
        <img
        class="icon search"
        src="assets/images/search.svg"
        width="16"
        height="16"
        alt="search"
        />
      </button>
    </div>
  </div>
  
  <div class="menu" [class.menu-opened]="isMenuOpened">
    <div class="content">
      <div class="logo f-row a-center">Books<span>Reviews</span></div>
      <nav>
        <ul>
          <li class="w-100p" *ngFor="let route of menuRouts; let index = index" [class.selected]="selectedRouteIndex === index">
            <a class="w-100p" [routerLink]="route.path">{{ route.label }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<app-spot-light *ngIf="isSearchOpened" [ariaLabel]="'Search for Books'" [placeholder]="'Book name...'" (onSearch)="onSearch($event)"></app-spot-light>
