$breakpoints:(
    xsm:400px,
    sm:600px,
    md:768px,
    xmd:900px,
    lg:1024px,
    mlg:1200px,
    xl:1400px,
    xxl:1800px,
);

@mixin mobileFirst($breakpoint){
    @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
        @content;
    }
}