.stars {
  letter-spacing: 1px;
  font-size: 1.5rem;
  cursor: pointer;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
