#footer {
  width: 100vw;
  height: 540px;
  background: #323232;
  color: #fdfdfd;
  padding: 0 max(1rem, calc(50vw - 650px));
  box-sizing: border-box;
  .sections {
    height: 100%;
    .section {
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
        &:nth-child(1){

            margin: 0 4rem;
            border-left: 2px solid #252525;
        }
        &:nth-child(2){
            margin: 0 4rem;
            border-right: 2px solid #252525;
            border-left: 2px solid #252525;
        }
        
      .links {
        display: grid;
        column-gap: 4rem;
        a {
          &.col-1{
            grid-column: 1;
          }

          &.col-2 {
            grid-column: 2;
          }

          &.col-3 {
            grid-column: 3;
          }

          @for $i from 1 through 8 {
            &.row-#{$i} {
                grid-row: $i;
            }
          }
          
          color: #8a8a8a;
          text-decoration: none;
          padding: 0.5rem 0;
        }
      }
    }
  }
}
