@import "../../../styles/responsive";
@import "../../../styles/mixins";

.carousel-container {
  color: white;
  padding: 2rem 0 0 0;
  min-height: 500px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  &.light {
    color: #020202;
  }
  .items-container {
    .main-title {
      margin-bottom: 2rem;
      padding: 0;
      font-size: 1.25rem;
    }
    height: 440px;
    position: relative;
    width: max-content;
    padding: 0;
    @include responsive("sm") {
      padding: 0 2.5rem;
    }
    @include responsive("md") {
      padding: 0 2rem;
    }
    @include responsive("xmd") {
      padding: 0 4rem;
    }
    margin: 0 auto;
    .items {
      position: relative;
      width: 180px;
      height: 440px;
      overflow: hidden;
      left: 50%;
      transform: translateX(-50%);
      box-sizing: border-box;
      .item {
        position: absolute;
        top: 0;
        width: 180px;
      }
      &.transition-left .item {
        transition: left 0.5s linear;
      }
    }
    .next,
    .prev {
      position: absolute;
      top: calc(50% + 40px);
      transform: translateY(-50%);
      padding: 0.35rem;
      user-select: none;
      background-color: white;
      border: 1px solid #cdcdcd;
      height: 29px;
      img{
        filter: invert(100%) sepia(0%) saturate(3806%) hue-rotate(27deg) brightness(94%) contrast(69%);
        width: 16px;
        height: 16px;
        user-select: none;
      }
      @include activeHover{
        background-color: #82b808;
        border-color: #82b808;
        img{
          filter: invert(100%);
        }
      }
    }

    .next {
      right: -34px;
    }
    .prev {
      left: -44px;
      img {
        transform: rotateY(180deg);
      }
    }

    @include responsive("xsm") {

      .items {
        &,.item {
          width: 200px;
        }
      }

      .next {
        right: -50px;
      }
      .prev {
        left: -50px;
      }

    }

    @include responsive("sm") {
      .items {
        width: 437px;
      }

      .next,
      .prev {
        padding: 0.75rem;
        height: 46px;
        img{
          width: 20px;
          height: 20px;
        }
      }
      .next{
        right: -20px;
      }
      .prev {
        left: -29px;
      }
    }

    @include responsive("md") {
      .items {
        width: 673px;
      }
      .next,
      .prev {
        padding: 0.75rem;
        height: 34px;
        img{
          width: 16px;
          height: 16px;
        }
        padding: 0.5rem;
      }
      .next{
        right: -12px;
      }
      .prev {
        left: -12px;
      }
    }

    @include responsive("xmd") {
      .items {
        width: 673px;
      }
      .next,
      .prev {
        padding: 0.75rem;
        height: 46px;
        img{
          width: 20px;
          height: 20px;
        }
        padding: 0.75rem;
      }
      .next{
        right: -20px;
      }
      .prev {
        left: -29px;
      }
    }

    @include responsive("mlg") {
      .items {
        width: 909px;
      }
    }

    @include responsive("xl") {
      .items {
        width: 1145px;
      }
    }
  }

  @include responsive("mlg") {
    padding: 4rem 0;
  }
}
